html {
    font-size: 18px;
}

/* Pagewide Rules */
body {
    line-height: 1.4rem;
    font-family: helvetica;
    flex-direction: column;
    justify-content: center;
}

nav,
.banner-container,
.feature-tiles,
.info-tiles,
footer {
    width: 960px;
    margin: 0 auto;
}

/* Flex Boxes */

body,
nav,
.site-name,
.nav-menu,
.banner-container,
.feature-tiles,
.img-tile,
.info-tiles,
.footer-content {
    display: flex;
}


/* Header Section */
header {
    height: 30rem;
    background-image: url("../images/glasses-bg.png");
    background-size: cover;
    background-position: center;
}

nav {
    background-color: cadetblue;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1rem;
    margin-top: 1rem;
}

.mobile-nav {
    display: none;
}

.site-name {
    align-items: center;
    padding-left: 1rem;
}

.logo {
    height: 1.5rem;
    margin-right: 1rem;
}

.nav-item,
.nav-title {
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: .07rem;
}

.nav-item {
    color: inherit;
    text-decoration: none;
    padding-right: 2rem;
}

.banner-container {
    justify-content: flex-end;
}

.banner {
    display: inline-block;
    background-color: white;
    padding: 3rem 5rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2rem;
    margin-top: 10rem;
    margin-right: -2rem;
}

/* Tablet Header */

@media only screen and (max-width: 1024px) {

    nav,
    .banner-container,
    .feature-tiles,
    .info-tiles,
    footer {
        width: 100%;
        margin: 0 auto;
    }

    header {
        height: 22rem;
    }

    nav {
        margin-top: 0;
    }

    .banner {
        padding: 1.75rem 4rem;
        font-size: 1.33rem;
        margin-top: 5rem;
        margin-right: 2rem;
    }
}

/* Smartphone Header */
@media only screen and (max-width: 700px) {

    header {
        height: 17rem;
        background-position: 20%;
    }

    .nav-title {
        display: none;
    }

    .nav-menu {
        display: none;
    }

    .mobile-nav {
        display: flex;
    }

    .banner {
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
        margin-top: 9rem;
        margin-right: 0;
        text-align: center;
        font-size: 1rem;
    }
}

/* Feature Tile Section */
.feature-tiles {
    justify-content: center;
}

.img-tile {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 5rem;
    height: 8rem;
    margin: 3rem;
}

.image img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

#paper {
    max-width: 3.5rem;
}

.img-tile-text {
    text-align: center;
}

/* Mobile Feature Tiles */

@media only screen and (max-width: 700px) {

    .feature-tiles {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3rem 0;
        font-size: .77rem;
    }

    .img-tile {
        justify-content: center;
        height: auto;
        margin: .75rem 0;
    }
}

/* Info Tile Section */
.info-tiles {
    justify-content: space-around;
}

.text-tile {
    max-width: 35%;
    margin-bottom: 5rem;
}

.tile-heading {
    width: 10rem;
    background-color: cadetblue;
    padding: .5rem 1.25rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

/* Mobile Info Tiles */

@media only screen and (max-width: 700px) {
    .info-tiles {
        flex-direction: column;
        justify-content: space-around;
    }

    .text-tile {
        max-width: 100%;
        margin-bottom: 4rem;
    }

    .tile-heading {
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;
    }

    .tile-detail {
        padding: 0 .5rem;
        font-size: .77rem;
    }
}

/* Footer Section */
footer {
    background-color: azure;
}

.footer-content {
    padding: 4rem;
}

/* Mobile Footer */

@media only screen and (max-width: 700px) {

    .footer-content {
        justify-content: center;
    }

    .copyright {
        display: none;
    }

}
